.Rproj.user
.Rhistory
.RData
.Ruserdata
data/analysis/
data/filtered_gene_bc_matrices/
data/pbmc3k_analysis.tar.gz
data/pbmc3k_filtered_gene_bc_matrices.tar.gz
data/pbmc3k_raw_gene_bc_matrices.tar.gz
data/raw_gene_bc_matrices/
notebooks/cache/
results/pbmc3k.h5ad
data/*.h5ad
